<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
  <title>归档</title>
</head>
<body>

<!-- 导航 -->
<nav id="header" th:replace="_fragments :: menu(4)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small"></nav>

<!-- 中间部分 -->
<div class="m-container-small m-padded-tb-big">
  <div class="ui container">

    <!-- header -->
    <div class="ui top attached padded segment">
      <div class="ui middle aligned two column grid">
        <div class="column">
          <h3 class="ui green header">博客</h3>
        </div>
        <div class="right aligned column">
          共<h3 class="ui orange header m-inline-block m-text-thin" th:text="${blogCount}"> &nbsp;144 &nbsp; </h3>篇博客
        </div>
      </div>
    </div>
    <!-- content -->
    <th:block th:each="item : ${archiveMap}">
    <h2 class="ui center aligned header" th:text="${item.key}">2018</h2>
    <div class="ui fluid vertical menu">
      <a href="#" target="_blank" class="item" th:each="blog : ${item.value}">
        <span>
            <i class="small teal circle icon"></i> <span th:text="${blog.title}">关于我</span>
            <div class="tiny ui teal basic left pointing label m-padded-small m-text-thin" th:text="${#dates.format(blog.updateTime,'MM-dd')}">9月13</div>
        </span>
        <div class="tiny ui orange basic left pointing label m-padded-small" th:text="${blog.flag}">原创</div>
      </a>

    </div>
    </th:block>

  </div>
</div>

<!-- 底部 -->
<footer id="footer" th:replace="_fragments :: footer" class="ui inverted segment m-padded-tb-massive"></footer>


<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->

</body>
</html>