<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
  <title>搜索结果</title>
</head>
<body>

<!-- 导航 -->
<nav id="header" th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small"></nav>

<!-- 中间部分 -->
<div class="m-container-small m-padded-tb-big">
  <div class="ui container">

    <!-- header -->
    <div class="ui top attached segment">
      <div class="ui middle aligned two column grid">
        <div class="column">
          <h3 class="ui green header">搜索结果</h3>
        </div>
        <div class="right aligned column">
          共<h3 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}" > 14 </h3>个
        </div>
      </div>
    </div>
    <!-- 博客 -->
    <div class="ui top attached teal segment">
      <div class="ui padding vertical segment m-padded-tb-large" th:each="blog : ${page.content}">
        <div class="ui middle aligned mobile reversed stackable grid" >
          <div class="ui eleven wide column">
            <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-color-black" th:text="${blog.title}">你真的牛么？</a></h3>
            <p class="m-text" th:text="|${blog.description}....|">正确撒大历史sadasfasfasfasfasfsadasasf阿三大苏打案发机会大把时间都会基金会北京撒比回复就卡死的办卡世界杯kj</p>
            <div class="ui grid">
              <div class="eleven wide column">
                <div class="ui mini horizontal link list">
                  <div class="item">
                    <img src="https://picsum.photos/id/1/100/100?image=1025" th:src="@{${blog.user.avatar}}" class="ui avatar image" >
                    <div class="content"><a href="#" th:text="${blog.user.nickname}" class="header">李莉莉</a></div>
                  </div>
                  <div class="item">
                    <i class="calendar icon"></i><span th:text="${blog.updateTime}">2019-11-11</span>
                  </div>
                  <div class="item">
                    <!-- ${dates.format(blog.updateTime,'yyyy-MM-dd')} -->
                    <i class="eye icon"></i><span th:text="${blog.views}">1999</span>
                  </div>
                </div>
              </div>
              <div class="right aligned five wide column">
                <a href="#" target="_blank" class="ui green basic label m-padded-small" th:text="${blog.type.name}">认知升级</a>
              </div>
            </div>

          </div>
          <div class="ui five wide column">
            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" class="target">
              <img src="https://picsum.photos/id/1/800/450?image=1025" th:src="@{${blog.firstPicture}}" class="ui rounded image" style="width: 800px;" >
            </a>
          </div>
        </div>
      </div>

    </div>
    <!-- 上下页 -->
    <div class="ui bottom attached segment">
      <div class="ui middle aligned two column grid" th:if="${page.totalPages}>1">
        <div class="column">
          <a href="#" th:href="@{/(page=${page.number}-1)}" class="ui mini teal basic button" th:unless="${page.first}">上一页</a>
        </div>
        <div class="right aligned column">
          <a href="#" th:href="@{/(page=${page.number}+1)}" class="ui mini teal basic button" th:unless="${page.last}">下一页</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- 底部 -->
<footer id="footer" th:replace="_fragments :: footer" class="ui inverted segment m-padded-tb-massive"></footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!--/*/</th:block>/*/-->

</body>
</html>